<h4> Please place your bet </h4>

Your available cash is $<%= session[:money].to_s %>

<form action='set-bet' method='post'>
  <input type='number' name='bet'/>
  <input type='submit' class='btn' value='Place your bet!'/>
</form>
